/* change font-family and increase size for flagged users */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

/*.app__body.font--open_sans {*/
/*  font-family: 'Lato', sans-serif;*/
/*}*/

.post__body {font-family: 'Vazirmatn', "Open Sans",sans-serif;}

.post .post-edited__indicator {direction: ltr;}

.form-control, .post p {
  font-size: 15px;
}

.post .post__content {
  background: #0001;
  padding: 1rem 0.5rem;
  border-radius: 4px;
}
